@font-face {
  font-family: NotoKufiArabic-Regular;
  src: url(../webfonts/NotoKufiArabic-Regular.ttf); }

@font-face {
  font-family: NotoKufiArabic-Bold;
  src: url(../webfonts/NotoKufiArabic-Bold.ttf); }

body {
  font-family: 'NotoKufiArabic-Bold' ,  'Times New Roman', Times, serif;
  background: rgba(0, 0, 0, 0.02); }

.container-fluid {
  padding: 0; }
  @media (min-width: 1920px) {
    .container-fluid {
      margin-left: auto;
      margin-right: auto;
      max-width: 1920px; } }

.row {
  margin-left: 0;
  margin-right: 0; }

.container {
  padding-left: 0;
  padding-right: 0; }

nav#navBar {
  padding: 0;
  transition: all 0.1s ease-in;
  background-color: transparent; }
  @media (min-width: 1920px) {
    nav#navBar {
      margin-left: auto;
      margin-right: auto;
      max-width: 1920px; } }
  @media (max-width: 1600px) {
    nav#navBar {
      padding: 0; } }
  @media (max-width: 992px) {
    nav#navBar {
      padding: 0; } }
  nav#navBar .navagation {
    transition: all 1s ease-in;
    display: -webkit-box;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 80px 151px 0 182px; }
    @media (max-width: 1600px) {
      nav#navBar .navagation {
        padding: 67px 123px 0 145px;
        justify-content: space-between; } }
    @media (max-width: 1200px) {
      nav#navBar .navagation {
        padding: 20px 60px 0 60px; } }
    @media (max-width: 991.5px) {
      nav#navBar .navagation {
        padding-left: 30px;
        padding-right: 30px; }
        nav#navBar .navagation #navbarTogglerDemo01 {
          position: absolute;
          background: #2574F2;
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
          margin-top: 70px;
          padding-right: 15px;
          padding-left: 15px; } }
    @media (max-width: 552px) {
      nav#navBar .navagation {
        padding-left: 15px;
        padding-right: 15px; } }
    nav#navBar .navagation button {
      margin-top: 5px; }
      nav#navBar .navagation button i.fa {
        color: white;
        padding: 10px;
        border: 1px solid white; }
      nav#navBar .navagation button:hover, nav#navBar .navagation button:focus, nav#navBar .navagation button:active {
        outline: none; }
        nav#navBar .navagation button:hover i.fa, nav#navBar .navagation button:focus i.fa, nav#navBar .navagation button:active i.fa {
          outline: none;
          color: #2574F2;
          background-color: white;
          border: 1px solid #2574F2; }
  nav#navBar ul {
    transition: 1s ease all;
    margin-bottom: 35px; }
    @media (max-width: 1600px) {
      nav#navBar ul {
        margin-bottom: 25px; } }
    @media (max-width: 991.5px) {
      nav#navBar ul {
        margin-bottom: 10px;
        margin-top: 10px; }
        nav#navBar ul li {
          margin-bottom: 10px; } }
  nav#navBar a.nav-link {
    color: white;
    padding: 8px 17px;
    margin: 0 11px;
    font-size: 20px;
    line-height: 38px;
    position: relative; }
    nav#navBar a.nav-link:hover::before, nav#navBar a.nav-link:focus::before, nav#navBar a.nav-link:active::before {
      content: "";
      position: absolute;
      width: 48px;
      height: 3px;
      background-color: white;
      bottom: -8px;
      right: 15px; }
      @media (max-width: 1600px) {
        nav#navBar a.nav-link:hover::before, nav#navBar a.nav-link:focus::before, nav#navBar a.nav-link:active::before {
          width: 35px;
          height: 2px;
          bottom: 0; } }
    @media (max-width: 1600px) {
      nav#navBar a.nav-link {
        padding: 3px 12px;
        margin: 0 10px;
        font-size: 15px; } }
  nav#navBar a.download-link {
    background-color: #1bc5ff;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 27px; }
    nav#navBar a.download-link::before {
      display: none; }
    nav#navBar a.download-link:hover, nav#navBar a.download-link:focus, nav#navBar a.download-link:active {
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3); }
    @media (max-width: 1600px) {
      nav#navBar a.download-link {
        padding-left: 20px;
        padding-right: 20px; } }
    @media (max-width: 991px) {
      nav#navBar a.download-link {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        border-radius: 0; } }
  nav#navBar a.navbar-brand {
    float: left;
    width: 240px;
    padding: 0;
    margin: 0; }
    nav#navBar a.navbar-brand img {
      width: 100%; }
    @media (max-width: 1600px) {
      nav#navBar a.navbar-brand {
        width: 188px; } }
    @media (max-width: 992px) {
      nav#navBar a.navbar-brand {
        width: 180px;
        padding-top: 15px; } }
    @media (max-width: 552px) {
      nav#navBar a.navbar-brand {
        width: 120px; } }
  nav#navBar a.nav-link.scroll.active {
    background: transparent; }
    nav#navBar a.nav-link.scroll.active::before {
      content: "";
      position: absolute;
      width: 48px;
      height: 3px;
      background-color: white;
      bottom: -8px;
      right: 15px; }
      @media (max-width: 1600px) {
        nav#navBar a.nav-link.scroll.active::before {
          width: 35px;
          height: 2px;
          bottom: 0; } }
  nav#navBar a.download-link.scroll.active {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3); }

#navBar.noTransparrent {
  background: #2574F2;
  padding: 0; }
  #navBar.noTransparrent .navagation {
    padding-bottom: 5px;
    padding-top: 5px; }
    #navBar.noTransparrent .navagation ul {
      margin-bottom: 0px; }

#header {
  background-image: url(../images/Path11.png), url(../images/bg.png), url(../images/bg1.png);
  background-position: 0.2% 90%, center center, 344px -72px;
  background-size: 43%, cover, cover;
  background-repeat: no-repeat, no-repeat,no-repeat;
  min-height: 100%;
  padding-bottom: 95px; }
  @media (max-width: 992px) {
    #header {
      background-position: 2% 80%, center center, 0px -50px; } }
  #header .overlay {
    padding-top: 224px;
    min-height: 100%;
    min-width: 100%; }
    @media (max-width: 1600px) {
      #header .overlay {
        padding-top: 178px; } }
    @media (max-width: 992px) {
      #header .overlay {
        padding-top: 150px; } }
    @media (max-width: 576px) {
      #header .overlay {
        padding-top: 120px; } }
    #header .overlay .header .photo {
      flex: 0 0 47.6%; }
      #header .overlay .header .photo .mobile-slider {
        margin-right: 35.7%; }
        #header .overlay .header .photo .mobile-slider img {
          width: 75%; }
      @media (max-width: 1600px) {
        #header .overlay .header .photo .mobile-slider {
          margin-right: 37.5%; }
          #header .overlay .header .photo .mobile-slider img {
            width: 66%; } }
      @media (max-width: 992px) {
        #header .overlay .header .photo .mobile-slider {
          margin-right: auto;
          margin-left: auto;
          width: 70%; }
          #header .overlay .header .photo .mobile-slider img {
            width: 100%; } }
      @media (max-width: 576px) {
        #header .overlay .header .photo {
          padding-left: 0; }
          #header .overlay .header .photo .mobile-slider {
            width: 90%; } }
    #header .overlay .header .header-paragraph {
      flex: 0 0 52.4%;
      width: 52.4%; }
      @media (max-width: 1600px) {
        #header .overlay .header .header-paragraph {
          padding-right: 0; } }
      @media (max-width: 576px) {
        #header .overlay .header .header-paragraph {
          padding-left: 0; } }
      #header .overlay .header .header-paragraph .page-head-text {
        margin-top: 37px; }
        @media (max-width: 1600px) {
          #header .overlay .header .header-paragraph .page-head-text {
            margin-top: 34px; } }
        @media (max-width: 471px) {
          #header .overlay .header .header-paragraph .page-head-text {
            margin-top: 20px; } }
        #header .overlay .header .header-paragraph .page-head-text h1.majara {
          font-size: 30px;
          line-height: 56px;
          margin-top: 10px; }
          #header .overlay .header .header-paragraph .page-head-text h1.majara span.dash {
            line-height: 76px;
            font-size: 40px;
            font-weight: NotoKufiArabic-Regular; }
          @media (max-width: 1600px) {
            #header .overlay .header .header-paragraph .page-head-text h1.majara {
              margin-top: 0;
              font-size: 24px;
              line-height: 36px;
              padding-right: 15px; }
              #header .overlay .header .header-paragraph .page-head-text h1.majara span.dash {
                line-height: 36px;
                font-size: 24px; } }
          @media (max-width: 576px) {
            #header .overlay .header .header-paragraph .page-head-text h1.majara {
              padding-right: 0; } }
        #header .overlay .header .header-paragraph .page-head-text h2 {
          font-size: 40px;
          line-height: 60px;
          margin-top: 1px; }
          @media (max-width: 1600px) {
            #header .overlay .header .header-paragraph .page-head-text h2 {
              font-size: 32px;
              line-height: 34px;
              margin-top: 16px;
              padding-right: 15px; } }
          @media (max-width: 992px) {
            #header .overlay .header .header-paragraph .page-head-text h2 {
              font-size: 30px;
              line-height: 45px; } }
          @media (max-width: 626px) {
            #header .overlay .header .header-paragraph .page-head-text h2 {
              font-size: 27px;
              line-height: 48px; } }
          @media (max-width: 576px) {
            #header .overlay .header .header-paragraph .page-head-text h2 {
              padding-right: 0;
              font-size: 22px;
              line-height: 36px; } }
          @media (max-width: 471px) {
            #header .overlay .header .header-paragraph .page-head-text h2 {
              font-size: 20px;
              line-height: 30px; } }
          @media (max-width: 375px) {
            #header .overlay .header .header-paragraph .page-head-text h2 {
              font-size: 18px;
              line-height: 26px; } }
          @media (max-width: 393px) {
            #header .overlay .header .header-paragraph .page-head-text h2 {
              font-size: 16px;
              line-height: 22px; } }
        #header .overlay .header .header-paragraph .page-head-text h4 {
          font-size: 30px;
          line-height: 56px;
          margin-top: 74px;
          margin-bottom: 27px; }
          @media (max-width: 1600px) {
            #header .overlay .header .header-paragraph .page-head-text h4 {
              font-size: 24px;
              line-height: 30px;
              margin-top: 68px;
              margin-bottom: 27px;
              padding-right: 8px; } }
          @media (max-width: 576px) {
            #header .overlay .header .header-paragraph .page-head-text h4 {
              font-size: 20px;
              margin-top: 40px;
              margin-bottom: 20px; } }
          @media (max-width: 471px) {
            #header .overlay .header .header-paragraph .page-head-text h4 {
              font-size: 18px;
              margin-top: 30px;
              margin-bottom: 24px; } }
          @media (max-width: 375px) {
            #header .overlay .header .header-paragraph .page-head-text h4 {
              font-size: 16px;
              margin-top: 24px;
              margin-bottom: 16px; } }
          @media (max-width: 393px) {
            #header .overlay .header .header-paragraph .page-head-text h4 {
              font-size: 14px;
              margin-top: 20px;
              margin-bottom: 12px; } }
        #header .overlay .header .header-paragraph .page-head-text h1, #header .overlay .header .header-paragraph .page-head-text h2, #header .overlay .header .header-paragraph .page-head-text h4 {
          color: white; }
        #header .overlay .header .header-paragraph .page-head-text h1, #header .overlay .header .header-paragraph .page-head-text h2 {
          margin-right: 13px; }
          @media (max-width: 1600px) {
            #header .overlay .header .header-paragraph .page-head-text h1, #header .overlay .header .header-paragraph .page-head-text h2 {
              margin-right: 8px; } }
        #header .overlay .header .header-paragraph .page-head-text h2, #header .overlay .header .header-paragraph .page-head-text h4 {
          font-family: NotoKufiArabic-Regular; }
        @media (max-width: 576px) {
          #header .overlay .header .header-paragraph .page-head-text .header-play-store {
            justify-content: space-around; } }
        #header .overlay .header .header-paragraph .page-head-text .play-store {
          width: 226.7px;
          margin-bottom: 117px; }
          #header .overlay .header .header-paragraph .page-head-text .play-store img {
            width: 100%;
            border-radius: 10px; }
            #header .overlay .header .header-paragraph .page-head-text .play-store img:hover, #header .overlay .header .header-paragraph .page-head-text .play-store img:active, #header .overlay .header .header-paragraph .page-head-text .play-store img:focus {
              box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3); }
          #header .overlay .header .header-paragraph .page-head-text .play-store.google {
            margin-left: 25px; }
            @media (max-width: 768px) {
              #header .overlay .header .header-paragraph .page-head-text .play-store.google {
                margin-left: 0px; } }
          @media (max-width: 1600px) {
            #header .overlay .header .header-paragraph .page-head-text .play-store {
              width: 190px;
              padding-right: 11px;
              margin-bottom: 93px; }
              #header .overlay .header .header-paragraph .page-head-text .play-store.google {
                margin-left: 11px; } }
          @media (max-width: 992px) {
            #header .overlay .header .header-paragraph .page-head-text .play-store {
              margin-bottom: 60px;
              width: 45%; }
              #header .overlay .header .header-paragraph .page-head-text .play-store.google {
                margin-left: 5%; } }
          @media (max-width: 768px) {
            #header .overlay .header .header-paragraph .page-head-text .play-store {
              margin-bottom: 45px; } }
          @media (max-width: 576px) {
            #header .overlay .header .header-paragraph .page-head-text .play-store {
              margin-bottom: 20px;
              padding-right: 0px;
              margin-right: 0; } }
        #header .overlay .header .header-paragraph .page-head-text .on-button {
          margin-right: 18px;
          margin-left: 167px; }
          @media (max-width: 1600px) {
            #header .overlay .header .header-paragraph .page-head-text .on-button {
              padding-right: 8px;
              margin-left: 92px; }
              #header .overlay .header .header-paragraph .page-head-text .on-button .on-off img {
                width: 25px; } }
          @media (max-width: 600px) {
            #header .overlay .header .header-paragraph .page-head-text .on-button .on-off {
              width: 100%;
              margin-right: auto;
              margin-left: auto; } }
          @media (max-width: 576px) {
            #header .overlay .header .header-paragraph .page-head-text .on-button .on-off {
              margin-bottom: 30px; }
              #header .overlay .header .header-paragraph .page-head-text .on-button .on-off img {
                width: 20px; } }
          @media (max-width: 1250px) {
            #header .overlay .header .header-paragraph .page-head-text .on-button {
              margin-left: 18px; } }
          #header .overlay .header .header-paragraph .page-head-text .on-button .group20:active, #header .overlay .header .header-paragraph .page-head-text .on-button .group20:focus, #header .overlay .header .header-paragraph .page-head-text .on-button .group20:hover {
            box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3); }
          #header .overlay .header .header-paragraph .page-head-text .on-button .social {
            margin-right: auto;
            margin-top: 20px; }
            @media (max-width: 1600px) {
              #header .overlay .header .header-paragraph .page-head-text .on-button .social {
                margin-top: 18px; } }
            @media (max-width: 600px) {
              #header .overlay .header .header-paragraph .page-head-text .on-button .social {
                margin-left: auto; } }
            #header .overlay .header .header-paragraph .page-head-text .on-button .social ul {
              margin-bottom: 0; }
              #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li.instagram, #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li.facebook {
                margin-left: 80px; }
                @media (max-width: 1600px) {
                  #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li.instagram, #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li.facebook {
                    margin-left: 62px; } }
                @media (max-width: 992px) {
                  #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li.instagram, #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li.facebook {
                    margin-left: 50px; } }
                @media (max-width: 768px) {
                  #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li.instagram, #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li.facebook {
                    margin-left: 40px; } }
                @media (max-width: 400px) {
                  #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li.instagram, #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li.facebook {
                    margin-left: 20px; } }
              #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li a {
                color: white; }
                #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li a i.fab {
                  font-size: 34px;
                  font-weight: normal; }
                  @media (max-width: 1600px) {
                    #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li a i.fab {
                      font-size: 27px; } }
                  @media (max-width: 400px) {
                    #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li a i.fab {
                      font-size: 22px; } }
                #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li a i.fa-instagram:hover, #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li a i.fa-instagram:active, #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li a i.fa-instagram:focus {
                  color: #e4405f; }
                #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li a i.fa-facebook-f:hover, #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li a i.fa-facebook-f:active, #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li a i.fa-facebook-f:focus {
                  color: #3b5999; }
                #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li a i.fa-twitter:hover, #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li a i.fa-twitter:active, #header .overlay .header .header-paragraph .page-head-text .on-button .social ul li a i.fa-twitter:focus {
                  color: #55acee; }

#about {
  padding: 185px 10px 215px; }
  @media (max-width: 1600px) {
    #about {
      padding: 140px 115px; } }
  @media (max-width: 1200px) {
    #about {
      padding: 100px 75px; } }
  @media (max-width: 992px) {
    #about {
      padding: 85px 50px; } }
  @media (max-width: 768px) {
    #about {
      padding: 30px; } }
  @media (max-width: 666px) {
    #about {
      padding: 20px; } }
  #about .paragraph {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 60px;
    padding-left: 0; }
    #about .paragraph .about-logo {
      width: 119.6px; }
      #about .paragraph .about-logo img {
        width: 100%; }
    @media (max-width: 1600px) {
      #about .paragraph .about-logo {
        width: 94px; } }
    @media (max-width: 1320px) {
      #about .paragraph {
        padding-right: 15px; } }
    #about .paragraph p {
      padding-top: 25px;
      font-size: 35px;
      line-height: 51px;
      font-family: NotoKufiArabic-Regular;
      color: #41434F; }
      @media (max-width: 1600px) {
        #about .paragraph p {
          padding-top: 23px;
          font-size: 28px;
          line-height: 40px; } }
      @media (max-width: 1240px) {
        #about .paragraph p {
          font-size: 24px; } }
      @media (max-width: 1070px) {
        #about .paragraph p {
          font-size: 22px; } }
      @media (max-width: 992px) {
        #about .paragraph p {
          font-size: 16px; } }
      @media (max-width: 576px) {
        #about .paragraph p {
          font-size: 20px; } }
  #about .photo {
    padding-right: 155px;
    padding-left: 70px; }
    #about .photo img {
      width: 100%; }
    @media (max-width: 1260px) {
      #about .photo {
        padding-right: 90px;
        padding-left: 40px; } }
    @media (max-width: 992px) {
      #about .photo {
        padding-right: 50px;
        padding-left: 50px; } }
    @media (max-width: 768px) {
      #about .photo {
        padding-right: 20px;
        padding-left: 20px; } }

#feature {
  padding: 194px 111px;
  background: rgba(27, 197, 255, 0.05); }
  @media (max-width: 1600px) {
    #feature {
      padding: 159px 85px; } }
  @media (max-width: 992px) {
    #feature {
      padding: 100px 40px; } }
  #feature .col-xl {
    padding: 0; }
  #feature h1 {
    color: #2574F2;
    font-size: 40px;
    line-height: 76px;
    margin-bottom: 0; }
    @media (max-width: 1600px) {
      #feature h1 {
        font-size: 32px;
        line-height: 54px; } }
  #feature h2 {
    color: #141414;
    font-family: NotoKufiArabic-Regular;
    font-size: 40px;
    line-height: 76px;
    margin-bottom: 63px; }
    @media (max-width: 1600px) {
      #feature h2 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 44px; } }
  #feature .features {
    padding: 58px 20px 37px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.11);
    background: white;
    margin: 14px; }
    #feature .features img {
      margin-bottom: 30px; }
    @media (max-width: 1600px) {
      #feature .features {
        padding: 47px 20px 30px;
        margin: 12px; }
        #feature .features img {
          margin-bottom: 20px; } }
    @media (max-width: 400px) {
      #feature .features {
        padding: 35px 15px 25px; } }
    #feature .features h4 {
      font-size: 27px;
      line-height: 52px;
      font-family: NotoKufiArabic-Regular;
      color: #2574F2;
      margin-bottom: 10px; }
      @media (max-width: 1600px) {
        #feature .features h4 {
          font-size: 22px;
          line-height: 40px; } }
      @media (max-width: 1292px) and (min-width: 1200px) {
        #feature .features h4 {
          font-size: 18px; } }
    #feature .features p {
      font-size: 20px;
      line-height: 31px;
      color: #B2B2B2;
      font-family: NotoKufiArabic-Regular;
      margin-bottom: 20px; }
      @media (max-width: 1830px) and (min-width: 1713px) {
        #feature .features p {
          font-size: 18px; } }
      @media (max-width: 1600px) {
        #feature .features p {
          font-size: 16px;
          line-height: 25px; } }
      @media (max-width: 1495px) and (min-width: 1401px) {
        #feature .features p {
          font-size: 14px; } }

#gift {
  padding-top: 216px;
  padding-bottom: 220px; }
  @media (max-width: 1600px) {
    #gift {
      padding: 140px 145px 140px 115px; } }
  @media (max-width: 1200px) {
    #gift {
      padding: 100px 20px; } }
  @media (max-width: 992px) {
    #gift {
      padding-top: 80px;
      padding-bottom: 80px; } }
  #gift .paragraph {
    padding-bottom: 20px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 60px; }
    @media (max-width: 1600px) {
      #gift .paragraph {
        padding-right: 30px; } }
    @media (max-width: 992px) {
      #gift .paragraph {
        padding-right: 10px;
        padding-left: 10px; } }
    @media (max-width: 552px) {
      #gift .paragraph {
        padding-right: 15px; } }
    #gift .paragraph h1 {
      color: #2574F2;
      font-size: 40px;
      line-height: 76px;
      font-family: NotoKufiArabic-Regular; }
      @media (max-width: 1600px) {
        #gift .paragraph h1 {
          font-size: 32px;
          line-height: 46px; } }
      @media (max-width: 992px) {
        #gift .paragraph h1 {
          font-size: 26px;
          line-height: 36px; } }
    #gift .paragraph p {
      padding-top: 10px;
      font-size: 35px;
      line-height: 51px;
      font-family: NotoKufiArabic-Regular;
      color: #41434F; }
      @media (max-width: 1600px) {
        #gift .paragraph p {
          font-size: 28px;
          line-height: 40px; } }
      @media (max-width: 1200px) {
        #gift .paragraph p {
          font-size: 22px;
          line-height: 32px; } }
      @media (max-width: 992px) {
        #gift .paragraph p {
          font-size: 16px;
          line-height: 28px; } }
      @media (max-width: 576px) {
        #gift .paragraph p {
          font-size: 20px; } }
  #gift .photo {
    padding-right: 125px; }
    #gift .photo img {
      width: 85%; }
    @media (max-width: 1600px) {
      #gift .photo {
        padding-right: 80px; } }
    @media (max-width: 992px) {
      #gift .photo {
        padding-right: 10px;
        padding-left: 10px; }
        #gift .photo img {
          width: 80%; } }

#fronts {
  padding-bottom: 137px;
  padding-top: 137px;
  position: relative;
  background: transparent; }
  #fronts:after {
    content: "";
    background: rgba(27, 197, 255, 0.05);
    position: absolute;
    right: 0;
    left: 43%;
    top: 0;
    bottom: 0;
    content: " ";
    z-index: -1; }
  #fronts .title-sm {
    display: none; }
    @media (max-width: 576px) {
      #fronts .title-sm {
        display: block; }
        #fronts .title-sm h5 {
          font-size: 24px;
          line-height: 45px;
          color: #467dc0;
          margin-bottom: 25px; } }
  #fronts h2 {
    position: absolute;
    left: 19%;
    bottom: 52%;
    transform: translateX(-50%);
    color: #467dc0;
    font-size: 40px;
    line-height: 76px; }
    @media (max-width: 1600px) {
      #fronts h2 {
        font-size: 30px;
        line-height: 55px; } }
    @media (max-width: 992px) {
      #fronts h2 {
        font-size: 20px;
        line-height: 35px;
        left: 16%; } }
    @media (max-width: 768px) {
      #fronts h2 {
        font-size: 24px;
        line-height: 45px;
        left: 19%; } }
    @media (max-width: 576px) {
      #fronts h2 {
        display: none; } }
  #fronts #carouselExampleControls {
    width: 100%; }
    #fronts #carouselExampleControls .carousel-item {
      flex-direction: row; }
      #fronts #carouselExampleControls .carousel-item .item {
        width: 20%;
        margin: 0px 20px; }
        #fronts #carouselExampleControls .carousel-item .item img {
          width: 100%;
          box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.25);
          margin-bottom: 30px; }
        @media (max-width: 768px) {
          #fronts #carouselExampleControls .carousel-item .item {
            width: 50%;
            margin: 0 30px; } }
      #fronts #carouselExampleControls .carousel-item .item.one, #fronts #carouselExampleControls .carousel-item .item.three {
        margin-top: 70px; }
        #fronts #carouselExampleControls .carousel-item .item.one img, #fronts #carouselExampleControls .carousel-item .item.three img {
          float: left;
          width: 86%; }
        @media (max-width: 1500px) {
          #fronts #carouselExampleControls .carousel-item .item.one, #fronts #carouselExampleControls .carousel-item .item.three {
            margin-top: 50px; } }
        @media (max-width: 1200px) {
          #fronts #carouselExampleControls .carousel-item .item.one, #fronts #carouselExampleControls .carousel-item .item.three {
            margin-top: 35px; } }
        @media (max-width: 768px) {
          #fronts #carouselExampleControls .carousel-item .item.one, #fronts #carouselExampleControls .carousel-item .item.three {
            display: none; } }
      #fronts #carouselExampleControls .carousel-item .item.one img {
        float: left; }
      #fronts #carouselExampleControls .carousel-item .item.three img {
        float: right; }
      #fronts #carouselExampleControls .carousel-item .item.main {
        position: absolute;
        top: 51%;
        left: 18%;
        transform: translateX(-50%); }
        #fronts #carouselExampleControls .carousel-item .item.main .carousel-title {
          font-size: 30px;
          color: #1bc5ff;
          line-height: 56px; }
          @media (max-width: 1600px) {
            #fronts #carouselExampleControls .carousel-item .item.main .carousel-title {
              font-size: 22px;
              line-height: 44px; } }
        @media (max-width: 1200px) {
          #fronts #carouselExampleControls .carousel-item .item.main {
            left: 17%; }
            #fronts #carouselExampleControls .carousel-item .item.main .carousel-title {
              font-size: 24px;
              line-height: 44px; } }
        @media (max-width: 992px) {
          #fronts #carouselExampleControls .carousel-item .item.main {
            left: 13%; }
            #fronts #carouselExampleControls .carousel-item .item.main .carousel-title {
              font-size: 18px;
              line-height: 30px; } }
        @media (max-width: 768px) {
          #fronts #carouselExampleControls .carousel-item .item.main {
            left: 15%; } }
        @media (max-width: 576px) {
          #fronts #carouselExampleControls .carousel-item .item.main {
            top: 40%;
            left: 13%;
            transform: translateX(-53%); } }
    #fronts #carouselExampleControls .controls .carousel-control-prev,
    #fronts #carouselExampleControls .controls .carousel-control-next {
      border: 2px solid #1bc5ff;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      top: 50%; }
      #fronts #carouselExampleControls .controls .carousel-control-prev i.fas,
      #fronts #carouselExampleControls .controls .carousel-control-next i.fas {
        color: #1bc5ff;
        font-size: 18px;
        font-weight: NotoKufiArabic-Regular; }
      @media (max-width: 1600px) {
        #fronts #carouselExampleControls .controls .carousel-control-prev,
        #fronts #carouselExampleControls .controls .carousel-control-next {
          height: 50px;
          width: 50px; } }
      @media (max-width: 1200px) {
        #fronts #carouselExampleControls .controls .carousel-control-prev,
        #fronts #carouselExampleControls .controls .carousel-control-next {
          height: 50px;
          width: 50px; } }
      @media (max-width: 992px) {
        #fronts #carouselExampleControls .controls .carousel-control-prev,
        #fronts #carouselExampleControls .controls .carousel-control-next {
          height: 35px;
          width: 35px; } }
    #fronts #carouselExampleControls .controls .carousel-control-prev {
      left: 12%;
      transform: translateX(-50%); }
      @media (max-width: 1200px) {
        #fronts #carouselExampleControls .controls .carousel-control-prev {
          left: 10%; } }
      @media (max-width: 992px) {
        #fronts #carouselExampleControls .controls .carousel-control-prev {
          left: 8%; } }
    #fronts #carouselExampleControls .controls .carousel-control-next {
      right: 74%;
      transform: translateX(50%); }
      @media (max-width: 1200px) {
        #fronts #carouselExampleControls .controls .carousel-control-next {
          right: 72%; } }
      @media (max-width: 992px) {
        #fronts #carouselExampleControls .controls .carousel-control-next {
          right: 77%; } }
      @media (max-width: 768px) {
        #fronts #carouselExampleControls .controls .carousel-control-next {
          right: 70%; } }

#download {
  padding-top: 270px;
  padding-bottom: 270px; }
  @media (max-width: 1600px) {
    #download {
      padding-top: 212px;
      padding-bottom: 180px; } }
  @media (max-width: 1200px) {
    #download {
      padding-top: 150px;
      padding-bottom: 150px; } }
  @media (max-width: 992px) {
    #download {
      padding-top: 100px;
      padding-bottom: 80px; } }
  #download .Group3104 {
    width: 262px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 55px; }
    #download .Group3104 img {
      width: 100%; }
    @media (max-width: 1600px) {
      #download .Group3104 {
        width: 230px;
        margin-bottom: 46px; } }
    @media (max-width: 992px) {
      #download .Group3104 {
        width: 25%; } }
    @media (max-width: 768px) {
      #download .Group3104 {
        width: 35%; } }
  #download h1 {
    font-size: 40px;
    line-height: 76px;
    color: #41434F;
    font-family: NotoKufiArabic-Regular;
    margin-bottom: 33px; }
    @media (max-width: 1600px) {
      #download h1 {
        font-size: 32px;
        line-height: 56px;
        margin-bottom: 28px; } }
  #download .google, #download .apple {
    padding-left: 18px;
    padding-right: 18px; }
  #download .play-store img {
    margin-bottom: 30px;
    border-radius: 12px; }
    #download .play-store img:hover, #download .play-store img:active, #download .play-store img:focus {
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3); }
    @media (max-width: 768px) {
      #download .play-store img {
        width: 100%; } }
  @media (max-width: 576px) {
    #download .play-store {
      width: 60%;
      margin-left: auto;
      margin-right: auto; }
      #download .play-store img {
        width: 100%; } }

#contact-us {
  padding-top: 103px;
  padding-bottom: 98px;
  background-image: url(../images/MaskGroup21.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat; }
  @media (max-width: 1600px) {
    #contact-us {
      padding-top: 80px;
      padding-bottom: 80px; } }
  #contact-us h1 {
    color: white;
    font-size: 40px;
    line-height: 76px;
    font-family: NotoKufiArabic-Regular;
    margin-bottom: 31px; }
    @media (max-width: 1600px) {
      #contact-us h1 {
        font-size: 32px;
        line-height: 60px;
        margin-bottom: 24px; } }
  #contact-us .social {
    margin-bottom: 61px; }
    #contact-us .social i.fab {
      font-size: 24px;
      color: white;
      margin-left: 25px;
      margin-right: 25px; }
    @media (max-width: 1600px) {
      #contact-us .social {
        margin-bottom: 20px; }
        #contact-us .social i.fab {
          font-size: 20px;
          margin-left: 14px;
          margin-right: 14px; } }
    #contact-us .social i.fa-instagram:hover, #contact-us .social i.fa-instagram:active, #contact-us .social i.fa-instagram:focus {
      color: #e4405f; }
    #contact-us .social i.fa-facebook-f:hover, #contact-us .social i.fa-facebook-f:active, #contact-us .social i.fa-facebook-f:focus {
      color: #3b5999; }
    #contact-us .social i.fa-twitter:hover, #contact-us .social i.fa-twitter:active, #contact-us .social i.fa-twitter:focus {
      color: #55acee; }
  #contact-us .contact-us-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
    #contact-us .contact-us-form .custom-form-row {
      box-shadow: 0 20px 40px 0 rgba(48, 55, 62, 0.3); }
    #contact-us .contact-us-form .name-no {
      width: 100%; }
    #contact-us .contact-us-form .custom-form-group {
      margin-bottom: 0; }
    #contact-us .contact-us-form .custom-form-control, #contact-us .contact-us-form .custom-texterea-control {
      border-radius: 0;
      margin-bottom: 0;
      font-size: 20px;
      line-height: 38px;
      font-family: NotoKufiArabic-Regular;
      padding: 35px 40px;
      border: 1px solid #e4e4ee; }
      #contact-us .contact-us-form .custom-form-control:hover, #contact-us .contact-us-form .custom-form-control:focus, #contact-us .contact-us-form .custom-form-control:active, #contact-us .contact-us-form .custom-texterea-control:hover, #contact-us .contact-us-form .custom-texterea-control:focus, #contact-us .contact-us-form .custom-texterea-control:active {
        box-shadow: none;
        outline: none; }
        #contact-us .contact-us-form .custom-form-control:hover::placeholder, #contact-us .contact-us-form .custom-form-control:focus::placeholder, #contact-us .contact-us-form .custom-form-control:active::placeholder, #contact-us .contact-us-form .custom-texterea-control:hover::placeholder, #contact-us .contact-us-form .custom-texterea-control:focus::placeholder, #contact-us .contact-us-form .custom-texterea-control:active::placeholder {
          color: #B2B2B2; }
      @media (max-width: 1600px) {
        #contact-us .contact-us-form .custom-form-control, #contact-us .contact-us-form .custom-texterea-control {
          font-size: 16px;
          line-height: 28px;
          padding: 28px 30px; } }
      @media (max-width: 575px) {
        #contact-us .contact-us-form .custom-form-control, #contact-us .contact-us-form .custom-texterea-control {
          padding: 20px; } }
    #contact-us .contact-us-form .custom-texterea-control {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px; }
    #contact-us .contact-us-form #cname, #contact-us .contact-us-form #subject, #contact-us .contact-us-form #massage, #contact-us .contact-us-form #cnumber {
      padding-left: 0;
      padding-right: 0;
      margin: 0; }
      #contact-us .contact-us-form #cname #name-error, #contact-us .contact-us-form #cname #mobile-number-error, #contact-us .contact-us-form #cname #subject-error, #contact-us .contact-us-form #cname #massage-error, #contact-us .contact-us-form #subject #name-error, #contact-us .contact-us-form #subject #mobile-number-error, #contact-us .contact-us-form #subject #subject-error, #contact-us .contact-us-form #subject #massage-error, #contact-us .contact-us-form #massage #name-error, #contact-us .contact-us-form #massage #mobile-number-error, #contact-us .contact-us-form #massage #subject-error, #contact-us .contact-us-form #massage #massage-error, #contact-us .contact-us-form #cnumber #name-error, #contact-us .contact-us-form #cnumber #mobile-number-error, #contact-us .contact-us-form #cnumber #subject-error, #contact-us .contact-us-form #cnumber #massage-error {
        color: red;
        font-size: 12px; }
    #contact-us .contact-us-form .cname {
      border-top-right-radius: 10px; }
    #contact-us .contact-us-form .cnumber {
      border-top-left-radius: 10px; }
    #contact-us .contact-us-form button.submit {
      background: #1bc5ff;
      font-size: 25px;
      line-height: 47px;
      margin-top: 70px;
      padding: 10px 80px;
      border-radius: 34px;
      color: white;
      font-family: NotoKufiArabic-Regular;
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3); }
      #contact-us .contact-us-form button.submit:hover, #contact-us .contact-us-form button.submit:focus, #contact-us .contact-us-form button.submit:active {
        box-shadow: none; }
      @media (max-width: 1600px) {
        #contact-us .contact-us-form button.submit {
          font-size: 20px;
          line-height: 32px;
          margin-top: 55px;
          padding: 10px 64px;
          border-radius: 34px; }
          #contact-us .contact-us-form button.submit:hover, #contact-us .contact-us-form button.submit:focus, #contact-us .contact-us-form button.submit:active {
            font-family: NotoKufiArabic-Bold; } }
    @media (max-width: 1600px) {
      #contact-us .contact-us-form {
        font-size: 20px;
        line-height: 32px;
        padding: 10px 80px;
        border-radius: 34px; } }
    @media (max-width: 575px) {
      #contact-us .contact-us-form .cname {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px; }
      #contact-us .contact-us-form .cnumber {
        border-radius: 0; }
      #contact-us .contact-us-form button.submit {
        padding: 15px 30px; } }
    @media (max-width: 1200px) {
      #contact-us .contact-us-form {
        width: 70%; } }
    @media (max-width: 992px) {
      #contact-us .contact-us-form {
        padding: 10px 10px; } }
    @media (max-width: 768px) {
      #contact-us .contact-us-form {
        width: 95%; } }
